apiVersion: apps/v1
kind: Deployment
metadata:
  creationTimestamp: null
  labels:
    app.kubernetes.io/created-by: application-service
    app.kubernetes.io/instance: collector-slim
    app.kubernetes.io/managed-by: kustomize
    app.kubernetes.io/name: collector-slim
    app.kubernetes.io/part-of: acs
  name: collector-slim
spec:
  replicas: 0
  revisionHistoryLimit: 0
  selector:
    matchLabels:
      app: python-app
      app.kubernetes.io/instance: collector-slim
  strategy: {}
  template:
    metadata:
      creationTimestamp: null
      labels:
        app: python-app
        app.kubernetes.io/instance: collector-slim
    spec:
      containers:
      - image: quay.io/redhat-user-workloads/rh-acs-tenant/acs/collector-slim@sha256:75c36317950a333cb1d888921b96c80612b75ca545b40b65527fe89e7d26dc68
        name: my-python
        ports:
        - containerPort: 8081
          name: http
          protocol: TCP
        resources:
          requests:
            cpu: 10m
            memory: 50Mi
status: {}
