apiVersion: apps/v1
kind: Deployment
metadata:
  creationTimestamp: null
  labels:
    app.kubernetes.io/created-by: application-service
    app.kubernetes.io/instance: collector
    app.kubernetes.io/managed-by: kustomize
    app.kubernetes.io/name: collector
    app.kubernetes.io/part-of: acs
  name: collector
spec:
  replicas: 0
  revisionHistoryLimit: 0
  selector:
    matchLabels:
      app.kubernetes.io/instance: collector
  strategy: {}
  template:
    metadata:
      creationTimestamp: null
      labels:
        app.kubernetes.io/instance: collector
    spec:
      containers:
      - image: quay.io/redhat-user-workloads/rh-acs-tenant/acs/collector@sha256:bfef9107748b2767d6c6e57ad44b4582ffaf2e886d71017a804564a5caafc2b1
        imagePullPolicy: Always
        name: container-image
        ports:
        - containerPort: 8080
        resources:
          requests:
            cpu: 10m
            memory: 256Mi
status: {}
