apiVersion: apps/v1
kind: Deployment
metadata:
  creationTimestamp: null
  labels:
    app.kubernetes.io/created-by: application-service
    app.kubernetes.io/instance: scanner
    app.kubernetes.io/managed-by: kustomize
    app.kubernetes.io/name: scanner
    app.kubernetes.io/part-of: acs
  name: scanner
spec:
  replicas: 0
  revisionHistoryLimit: 0
  selector:
    matchLabels:
      app.kubernetes.io/instance: scanner
  strategy: {}
  template:
    metadata:
      creationTimestamp: null
      labels:
        app.kubernetes.io/instance: scanner
    spec:
      containers:
      - image: quay.io/redhat-user-workloads/rh-acs-tenant/acs/scanner@sha256:d3f20a8f713df15e161b05986e6512641daa444eae4bc6e73ddafadb5c320f5c
        imagePullPolicy: Always
        name: container-image
        ports:
        - containerPort: 9090
        resources:
          requests:
            cpu: 10m
            memory: 256Mi
status: {}
