apiVersion: apps/v1
kind: Deployment
metadata:
  creationTimestamp: null
  labels:
    app.kubernetes.io/created-by: application-service
    app.kubernetes.io/instance: main
    app.kubernetes.io/managed-by: kustomize
    app.kubernetes.io/name: main
    app.kubernetes.io/part-of: acs
  name: main
spec:
  replicas: 0
  revisionHistoryLimit: 0
  selector:
    matchLabels:
      app.kubernetes.io/instance: main
  strategy: {}
  template:
    metadata:
      creationTimestamp: null
      labels:
        app.kubernetes.io/instance: main
    spec:
      containers:
      - image: quay.io/redhat-user-workloads/rh-acs-tenant/acs/main@sha256:9b5cc207a003b572a5a56ba2f2ccb1a50809d0667e7f43ff6f2373ebb2a79782
        imagePullPolicy: Always
        name: container-image
        ports:
        - containerPort: 8080
        resources:
          requests:
            cpu: 10m
            memory: 256Mi
status: {}
