apiVersion: apps/v1
kind: Deployment
metadata:
  creationTimestamp: null
  labels:
    app.kubernetes.io/created-by: application-service
    app.kubernetes.io/instance: scanner-db
    app.kubernetes.io/managed-by: kustomize
    app.kubernetes.io/name: scanner-db
    app.kubernetes.io/part-of: acs
  name: scanner-db
spec:
  replicas: 0
  revisionHistoryLimit: 0
  selector:
    matchLabels:
      app: go-app
      app.kubernetes.io/instance: scanner-db
  strategy: {}
  template:
    metadata:
      creationTimestamp: null
      labels:
        app: go-app
        app.kubernetes.io/instance: scanner-db
    spec:
      containers:
      - image: quay.io/redhat-user-workloads/rh-acs-tenant/acs/scanner-db@sha256:9b0a6bdd61d621a5b319e5c0dbf93a16c851c28cdd1ca7362b80f33379ed2d42
        name: my-go
        ports:
        - containerPort: 8081
          name: http
          protocol: TCP
        - containerPort: 9090
        resources:
          requests:
            cpu: 10m
            memory: 10Mi
status: {}
