apiVersion: apps/v1
kind: Deployment
metadata:
  creationTimestamp: null
  labels:
    app.kubernetes.io/created-by: application-service
    app.kubernetes.io/instance: central-db
    app.kubernetes.io/managed-by: kustomize
    app.kubernetes.io/name: central-db
    app.kubernetes.io/part-of: acs
  name: central-db
spec:
  replicas: 0
  revisionHistoryLimit: 0
  selector:
    matchLabels:
      app.kubernetes.io/instance: central-db
  strategy: {}
  template:
    metadata:
      creationTimestamp: null
      labels:
        app.kubernetes.io/instance: central-db
    spec:
      containers:
      - image: quay.io/redhat-user-workloads/rh-acs-tenant/acs/central-db@sha256:acb6086e3337175fd1571cacad36c29c3e86c932b8c5703d39d60efabc2fc70f
        imagePullPolicy: Always
        name: container-image
        ports:
        - containerPort: 5432
        resources:
          requests:
            cpu: 10m
            memory: 256Mi
status: {}
